<div class="center jumbotron">
    <% provide(:title,"Home") %>


  <h2>
    This is the home page for the
    Instagram-clone
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("insta-icon.png", alt: "insta-icon" ,:size =>'100x100'),
            'https://ja.wikipedia.org/wiki/Instagram'  %>


