<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
   <%# ログインしているユーザーが管理者でかつ、表示されているユーザーが自分以外の場合は、追加で削除リンクを表示 %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                            data: { confirm: "You sure?" } %>
  <% end %>
</li>