<footer class="footer">
  <small>
    <a href="https://camp.potepan.com/">POTEPAN CAMP</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Terms of Service", contact_path %></li>
    </ul>
  </nav>
</footer>
